<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-uppercase>New Enquiry</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid >
    <ion-row >
        <ion-item-group padding>
          <ion-item>
            <ion-text >Subject:</ion-text>
            <ion-input readonly name="subject" readonly ngModel>&nbsp;&nbsp;&nbsp;Interest in Business Listing</ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea [ngModel]="message" name="message" maxlength="500" rows="15">
              <ion-text>Message</ion-text>
            </ion-textarea>
          </ion-item>
        </ion-item-group>


    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer><ion-button type="submit" no-margin no-padding expand="full" color="primary" (click)="sendEnquiry()">Submit</ion-button></ion-footer>


