<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-uppercase>New Enquiry</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <form #form="ngForm"  method="post">
  <ion-grid>
    <ion-row padding no-margin>
        <ion-textarea name="msg" ngModel maxlength="500" rows="8" style="width: 100%">
          <ion-text><strong>Message</strong></ion-text>
        </ion-textarea>
    </ion-row>
  </ion-grid>
  <!--<ion-button position="bottom" type="submit" no-margin no-padding expand="full" color="primary">Submit</ion-button>-->
  </form>
</ion-content>
<ion-footer>
  <ion-button position="bottom" type="submit" no-margin no-padding expand="full" color="primary" (click)="sendEnquiry(form)">Submit</ion-button>
</ion-footer>


