<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start" text-uppercase>
            Filter
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content >
  <form #form="ngForm" (ngSubmit)="applyChanges()" method="post">
    <ion-item>
      <ion-text color="dark">Industry</ion-text>
      <ion-select [(ngModel)]="selectIndustry" name="selectIndustry">
        <ion-select-option>F&B</ion-select-option>
        <ion-select-option>Sales</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-text color="dark">Country</ion-text>
      <ion-select [(ngModel)]="selectCountry" name="selectCountry">
        <ion-select-option>Singapore</ion-select-option>
        <ion-select-option>Malaysia</ion-select-option>
        <ion-select-option>Thailand</ion-select-option>
        <ion-select-option>Vietnam</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-text class="fw500" color="dark">City</ion-text>
      <ion-select [(ngModel)]="selectCity" name="selectCity">
        <ion-select-option>Ho Chi Minh City</ion-select-option>
        <ion-select-option>Hanoi</ion-select-option>
        <ion-select-option>Da Nang</ion-select-option>
      </ion-select>
    </ion-item>

        <!--<ion-item>-->
        <!--<ion-label class="no-margin-bottom" stacked>-->
        <!--<ion-text color="dark" class="fw500">Radius:</ion-text>-->
        <!--</ion-label>-->
        <!--<ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">-->
        <!--<ion-label slot="start"><ion-text color="primary"> {{radiusmiles}} Mile(s)</ion-text></ion-label>-->
        <!--</ion-range>-->
        <!--</ion-item>-->

    <ion-item>
      <ion-text color="dark">Sort by</ion-text>
      <ion-select [(ngModel)]="sortBy" name="sortBy">
        <ion-select-option>Recently Listed</ion-select-option>
        <ion-select-option>Selling Price(Low to High)</ion-select-option>
        <ion-select-option>Selling Price(High to Low)</ion-select-option>
        <ion-select-option>Revenue(Low to High)</ion-select-option>
        <ion-select-option>Revenue(High to Low)</ion-select-option>
        <ion-select-option>Profit(Low to High)</ion-select-option>
        <ion-select-option>Profit(High to Low)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
      <ion-text color="dark">Selling Price:</ion-text>
      <ion-range id="dual-range" dual-knobs pin color="dark" snaps [(ngModel)]="minmaxprice" name="minmaxprice" step="100000" min="0" max="1000000">
        <ion-icon slot="start" size="small" ios="logo-usd" md="logo-usd"></ion-icon>
        <ion-icon slot="end"  size="medium" ios="logo-usd" md="logo-usd"></ion-icon>
      </ion-range>
      </ion-label>
    </ion-item>
    <ion-button type="submit" expand="full" color="primary">Filter Results</ion-button>
  </form>

</ion-content>


<script>
    const dualRange = document.querySelector('#dual-range');
    dualRange.value = {lower: 33, upper: 60};
</script>
