<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Search Filter
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="applyChanges(form)" method="post">
  <!--<ion-item margin-bottom>-->
    <!--<ion-label color="primary" stacked>-->
      <!--<ion-text color="dark" class="fw500">Country </ion-text>-->
    <!--</ion-label>-->
    <!--<ion-input type="type" placeholder="Enter  country"></ion-input>-->
  <!--</ion-item>-->

  <ion-item>
    <ion-label class="fw500" color="dark">Country</ion-label>
    <ion-select ngModel name="selectCountry">
      <ion-select-option>Singapore</ion-select-option>
      <ion-select-option>Vietnam</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="fw500" color="dark">City</ion-label>
    <ion-select ngModel name="selectCity">
      <ion-select-option>Ho Chi Minh City</ion-select-option>
      <ion-select-option>Hanoi</ion-select-option>
      <ion-select-option>Da Nang</ion-select-option>
    </ion-select>
  </ion-item>

  <!--<ion-item>-->
    <!--<ion-label class="no-margin-bottom" stacked>-->
      <!--<ion-text color="dark" class="fw500">Radius:</ion-text>-->
    <!--</ion-label>-->
    <!--<ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">-->
      <!--<ion-label slot="start"><ion-text color="primary"> {{radiusmiles}} Mile(s)</ion-text></ion-label>-->
    <!--</ion-range>-->
  <!--</ion-item>-->

  <ion-item>
    <ion-label class="fw500" color="dark">Sort by</ion-label>
    <ion-select ngModel name="sortBy">
      <ion-select-option>Recently Listed</ion-select-option>
      <ion-select-option>Selling Price(Low to High)</ion-select-option>
      <ion-select-option>Selling Price(High to Low)</ion-select-option>
      <ion-select-option>Revenue(Low to High)</ion-select-option>
      <ion-select-option>Revenue(High to Low)</ion-select-option>
      <ion-select-option>Profit(Low to High)</ion-select-option>
      <ion-select-option>Profit(High to Low)</ion-select-option>
    </ion-select>
  </ion-item>

  <!--
  <ion-item>
    <ion-label class="fw500" color="dark">Dish Type</ion-label>
    <ion-select [(ngModel)]="dishtype" multiple="true">
      <ion-select-option>Health Food</ion-select-option>
      <ion-select-option>Veggie</ion-select-option>
      <ion-select-option>Pasta</ion-select-option>
      <ion-select-option>Barbecue</ion-select-option>
      <ion-select-option>Casual Dining</ion-select-option>
      <ion-select-option>Fine Dining</ion-select-option>
      <ion-select-option>Street Food</ion-select-option>
      <ion-select-option>Fast Food</ion-select-option>
      <ion-select-option>Pizza</ion-select-option>
    </ion-select>
  </ion-item>
  -->


  <!--<ion-item>-->
    <!--<ion-label class="fw500" color="dark">Location</ion-label>-->
    <!--<ion-select [(ngModel)]="dishnationality" multiple="true">-->
      <!--<ion-select-option>German</ion-select-option>-->
      <!--<ion-select-option>Japanese</ion-select-option>-->
      <!--<ion-select-option>Korean</ion-select-option>-->
      <!--<ion-select-option>Indian</ion-select-option>-->
      <!--<ion-select-option>Arabian</ion-select-option>-->
      <!--<ion-select-option>Italian</ion-select-option>-->
      <!--<ion-select-option>Chinese</ion-select-option>-->
      <!--<ion-select-option>Brazilian</ion-select-option>-->
      <!--<ion-select-option>Thai</ion-select-option>-->
    <!--</ion-select>-->
  <!--</ion-item>-->

  <!--<ion-item>-->
    <!--<ion-label class="fw500" color="dark">Area</ion-label>-->
    <!--<ion-select [(ngModel)]="dishnationality" multiple="true">-->
      <!--<ion-select-option>German</ion-select-option>-->
      <!--<ion-select-option>Japanese</ion-select-option>-->
      <!--<ion-select-option>Korean</ion-select-option>-->
      <!--<ion-select-option>Indian</ion-select-option>-->
      <!--<ion-select-option>Arabian</ion-select-option>-->
      <!--<ion-select-option>Italian</ion-select-option>-->
      <!--<ion-select-option>Chinese</ion-select-option>-->
      <!--<ion-select-option>Brazilian</ion-select-option>-->
      <!--<ion-select-option>Thai</ion-select-option>-->
    <!--</ion-select>-->
  <!--</ion-item>-->

  <ion-item >
    <ion-label>
      <ion-text color="dark" class="fw500">Min/Max Price:</ion-text>
        <ion-range dualKnobs="true" ngModel name="minmaxprice" min="100" max="10000000" step="10" class="no-padding-top">
          <ion-label slot="start"><ion-text color="primary">$ {{minmaxprice.lower}}</ion-text></ion-label>
          <ion-label slot="end"><ion-text color="primary">$ {{minmaxprice.upper}}</ion-text></ion-label>
        </ion-range>
    </ion-label>
  </ion-item>




  <!--<ion-button expand="full" color="primary" (click)="applyChanges()">Filter Results</ion-button>-->

    <ion-button type="submit" expand="full" color="primary">Filter Results</ion-button>
  </form>
</ion-content>
