<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start" text-uppercase>
            Filter
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content color="medium" padding>
  <form #form="ngForm" (ngSubmit)="applyChanges()" method="post">
    <ion-item>
      <ion-text >Industry</ion-text>
      <ion-select slot="end" [(ngModel)]="selectedIndustry" name="selectIndustry">
        <ion-select-option *ngFor="let item of industries">{{item}}</ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <ion-text >Country</ion-text>
      <ion-select slot="end" [(ngModel)]="selectedCountry" name="selectCountry" (ionChange)="getCities()">
        <ion-select-option *ngFor="let item of countries">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-text>City</ion-text>
      <ion-select slot="end" [(ngModel)]="selectedCity" name="selectedCity">
        <ion-select-option *ngFor="let item of cities">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>

        <!--<ion-item>-->
        <!--<ion-label class="no-margin-bottom" stacked>-->
        <!--<ion-text color="dark" class="fw500">Radius:</ion-text>-->
        <!--</ion-label>-->
        <!--<ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">-->
        <!--<ion-label slot="start"><ion-text color="primary"> {{radiusmiles}} Mile(s)</ion-text></ion-label>-->
        <!--</ion-range>-->
        <!--</ion-item>-->

    <ion-item>
      <ion-text >Sort by</ion-text>
      <ion-select slot="end" [(ngModel)]="sortBy" name="sortBy">
        <ion-select-option>Recently Listed</ion-select-option>
        <ion-select-option>Selling Price(Low to High)</ion-select-option>
        <ion-select-option>Selling Price(High to Low)</ion-select-option>
        <ion-select-option>Revenue(Low to High)</ion-select-option>
        <ion-select-option>Revenue(High to Low)</ion-select-option>
        <ion-select-option>Profit(Low to High)</ion-select-option>
        <ion-select-option>Profit(High to Low)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color-="secondary">
      <ion-label>
      <ion-text color="secondary">Selling Price:</ion-text>
      <ion-range id="dual-range" dual-knobs pin color="secondary" snaps [(ngModel)]="minmaxprice" name="minmaxprice" step="100000" min="0" max="1000000">
        <ion-icon slot="start" size="small" color="secondary" ios="logo-usd" md="logo-usd"></ion-icon>
        <ion-icon slot="end"  size="medium" color="secondary" ios="logo-usd" md="logo-usd"></ion-icon>
      </ion-range>
      </ion-label>
    </ion-item>
    <br>
    <ion-button type="submit" expand="block" color="primary">Filter Results</ion-button>
  </form>

</ion-content>


<script>
    const dualRange = document.querySelector('#dual-range');
    dualRange.value = {lower: 33, upper: 60};
</script>
