<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-uppercase>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center >
  <div *ngIf="user">
    <ion-grid>
      <ion-row align-items-center text-center class="row-header" color="dark">
        <ion-col padding>
          <ion-avatar >
          <img src="assets/img/ic_nonprofile.png">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row align-items-center text-center>
        <ion-col>
          <div class="ion-text-uppercase">{{ user.name }}</div>
          <div class="ion-text-uppercase">{{ user.type }}</div>
          <div class="ion-text-uppercase">{{ user.email }}</div>
          <div class="ion-text-uppercase">{{ user.phone }}</div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center text-center>
        <ion-col>
          <ion-menu-toggle class="mto" auto-hide="false">
            <!--<a class="text08" tappable (click)="goToEditProfile()">
              <ion-text color="medium">
                <strong>edit profile</strong>
              </ion-text>
            </a> -->
            <a *ngIf="user.type == 'basic'" tappable (click)="upgradeUser()">
              <ion-text>
                <strong>Upgrade Premium</strong>
              </ion-text>
            </a>
            <ion-label *ngIf="user.type == 'basic'" > | </ion-label>
            <a tappable (click)="logout()">
              <ion-text>
                <strong>Logout</strong>
              </ion-text>
            </a>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<br>
  <div *ngIf="user">
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" >
    <ion-item [routerLink]="[p.url]" color="tertiary" lines="none">
      <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
      <ion-text color="dark">
        {{p.title}}
      </ion-text>
    </ion-item>
  </ion-menu-toggle>
  </div>
</ion-content>
