<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <!--<ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>-->
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-uppercase>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="user">
    <!--<div class="item-design">f-->
      <!--<div class="ion-text-uppercase">{{ user.name }}</div>-->
      <!--<div class="ion-text-uppercase">{{ user.type }}</div>-->
      <!--<div class="ion-text-uppercase">{{ user.email }}</div>-->
      <!--<div class="ion-text-uppercase">{{ user.phone }}</div>-->

      <!--<ion-menu-toggle class="mto" auto-hide="false">-->
        <!--<a *ngIf="user.type == 'basic'" tappable (click)="upgradeUser()">-->
          <!--<ion-text>-->
            <!--<strong>Upgrade Premium</strong>-->
          <!--</ion-text>-->
        <!--</a>-->
        <!--<ion-label *ngIf="user.type == 'basic'" > | </ion-label>-->
        <!--<a tappable (click)="logout()">-->
          <!--<ion-text>-->
            <!--<strong>Logout</strong>-->
          <!--</ion-text>-->
        <!--</a>-->
      <!--</ion-menu-toggle>-->
    <!--</div>-->
    <ion-grid>
      <ion-row align-items-center class="row-header" color="dark">
        <ion-col size="3" padding>
          <ion-avatar no-padding no-margin>
          <img src="assets/img/ic_nonprofile.png">
          </ion-avatar>
        </ion-col>
        <ion-col size="9" ext-left>
          <div class="ion-text-uppercase">{{ user.name }}</div>
          <div class="ion-text-uppercase">{{ user.phone }}</div>
          <div class="ion-text-uppercase">{{ user.email }}</div>
          <div class="ion-text-uppercase">{{ user.type }} USER</div>
        </ion-col>
      </ion-row>
      <ion-row  align-items-center padding>
        <ion-menu-toggle class="mto" auto-hide="false">
          <a *ngIf="user.type == 'basic' && user.status !== 'pending'" tappable (click)="upgradeUser()">
            <ion-text>
              <!--<strong>Upgrade Premium</strong>-->
              <ion-button size="small">Upgrade Premium</ion-button>
            </ion-text>
          </a>
          <a *ngIf="user.type == 'basic' && user.status == 'pending'" style="padding-right:5px;">
            <!--<ion-button size="small">Pending Premium</ion-button>-->
            <ion-text>
              <!--<i><strong>Pending approval for Premium</strong></i>-->
              <ion-button size="small" color="tertiary">Pending Premium</ion-button>
            </ion-text>

          </a>

          <!--<ion-label *ngIf="user.type == 'basic'" > | </ion-label>-->
          <!--<a tappable (click)="viewTerms()">-->
            <!--<ion-text>-->
              <!--<strong>Terms & Conditions</strong>-->
            <!--</ion-text>-->
          <!--</a>-->

          <!--<ion-label *ngIf="user.type == 'basic'" > | </ion-label>-->
          <!--<a tappable  style="padding-right:5px;">-->
            <!--<ion-text>-->
              <!--&lt;!&ndash;<strong>Logout</strong>&ndash;&gt;-->
              <!--<ion-button size="small" color="tertiary" (click)="viewTerms()">Legal</ion-button>-->
            <!--</ion-text>-->
          <!--</a>-->

          <a tappable (click)="logout()">
            <ion-text>
              <!--<strong>Logout</strong>-->
              <ion-button size="small" color="tertiary">Logout</ion-button>
            </ion-text>
          </a>
        </ion-menu-toggle>
      </ion-row>
      <!--<ion-row align-items-center padding text-right>-->
        <!--<a tappable (click)="viewTerms()">-->
        <!--<ion-text>-->
        <!--<strong>Terms & Conditions</strong>-->
        <!--</ion-text>-->
        <!--</a>-->
      <!--</ion-row>-->
    </ion-grid>
  </div>
<br>
  <div *ngIf="user">
    <div class="container-title" padding-start padding-end>
      <ion-text color="secondary" text-uppercase style="font-weight: bolder">Your Listing</ion-text>
    </div>

    <div class="container--subtitle">
      <ion-text align-items-center padding *ngIf="emptyListing">No listing available</ion-text>
    </div>
    <ion-card *ngFor="let item of (ownListings | async)" class="welcome-card" color="tertiary" (click)="openListingDetail(item)">
      <img [src]="item.photo" alt="" class="img-style" />
      <div class="ion-card-text">
        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.country }} | {{item.city}}</ion-card-subtitle>
      </div>
    </ion-card>


  <!--<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" >-->
    <!--<ion-item [routerLink]="[p.url]" color="tertiary" lines="none">-->
      <!--<ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>-->
      <!--<ion-text color="dark">-->
        <!--{{p.title}}-->
      <!--</ion-text>-->
    <!--</ion-item>-->
  <!--</ion-menu-toggle>-->
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddListing()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
