
.item-design{
  font-family: 'monospace';
  font-size: 13px;
  width: 100%;
  height: 140px;
  background: #e6e6e6;
  margin-bottom: 10px;
  text-align: left;
  line-height: 2.1em;
  text-align: center;
}

.welcome-card{
  height: 165px;
}

.container-title {
  font-weight: bold;
}

.img-style{
  height:90px;
  width: 100%;
  object-fit: cover;
}

.container--subtitle{
  margin-top: 20px;
}

.ion-card-text{
  margin: 5%;
}

ion-button{
  font-size: 10pt;
}
