<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <img src="/assets/shapes.svg" alt="" />
        <ion-card-header>

          <ion-card-subtitle hidden>{{id}}</ion-card-subtitle>
          <ion-card-subtitle>Business For Sale</ion-card-subtitle>
          <ion-card-title>{{name}}</ion-card-title>
        </ion-card-header>
      </ion-row>
      <ion-row>
        <ion-card-content>
          <ion-label><ion-icon ios="ios-pin" md="md-pin"> &nbsp;</ion-icon>{{country | uppercase}}, {{city | uppercase}}<br></ion-label>
          <br><ion-label>Years in Business: &nbsp;&nbsp;{{age}} </ion-label><br>
          <ion-label>Industry:&nbsp; &nbsp;{{industry}}</ion-label><br>
          <br><ion-label>{{description}}</ion-label><br>
        </ion-card-content>

      </ion-row>
      <ion-row>
        <ion-card-content>
          <ion-label>Revenue: USD ${{revenue}}</ion-label><br>
          <ion-label>Cash Flow: USD ${{cashflow}}</ion-label><br>
          <ion-label>Asking Price: USD ${{[price]}}</ion-label>
        </ion-card-content>


      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button type="submit" expand="full" color="primary">Send Enquiry</ion-button>
  </ion-toolbar>
</ion-footer>
