<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start" text-uppercase>
            Business Detail
        </ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="closeModal()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card-header fullscreen color="dark" no-padding> <img [src]="photo" alt=""></ion-card-header>

    <ion-card-header color="dark">
        <ion-card-subtitle hidden>{{id}}</ion-card-subtitle>
        <ion-card-subtitle>Business For Sale</ion-card-subtitle>
        <ion-card-title>{{name}}</ion-card-title>

        <ion-card-subtitle>
            <ion-icon ios="ios-pin" md="md-pin"></ion-icon> &nbsp;{{country | uppercase}}, {{city | uppercase}}
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-text>{{description}}</ion-text>
        <br> <br>
        <ion-text>Years in Business: &nbsp;&nbsp;{{age}} </ion-text>
        <br>
        <ion-text>Industry:&nbsp; &nbsp;{{industry}}</ion-text>
        <br>

    </ion-card-content>
    <ion-card-content>
        <ion-text>Revenue: USD ${{revenue}}</ion-text>
        <br>
        <ion-text>Cash Flow: USD ${{cashflow}}</ion-text>
        <br>
        <ion-text>Asking Price: USD ${{[price]}}</ion-text>
    </ion-card-content>

</ion-content>

<ion-footer class="footer-color">
    <ion-button type="submit" no-margin expand="full" color="primary" (click)="enquiry(this,email)">Send Enquiry</ion-button>
</ion-footer>
