<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-uppercase>New Listing</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="goBack()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>

<ion-content color="medium">
    <ion-grid style="height:100%;">
        <ion-row style="height: 100%; width: 100%">
            <form #form="ngForm" (ngSubmit)="createListing(form)" method="post">
                <ion-item-group padding>
                   <ion-item>
                       <div text-uppercase padding-bottom style="font-weight: bolder">Basic Information</div>
                   </ion-item>
                    <ion-item>
                        <ion-text >Type:</ion-text>
                        <ion-input readonly name="type" float-right> &nbsp;&nbsp;Business For Sale</ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-textarea [ngModel]="name" name="name" maxlength="50" rows="2">
                            <ion-text>Name of Business</ion-text>
                        </ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-text>Industry</ion-text>
                        <ion-select class="ion-select-style" slot="end"[(ngModel)]="selectedIndustry" name="selectIndustry" placeholder="Select">
                            <ion-select-option *ngFor="let item of industries">{{item}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-text>Country</ion-text>
                        <ion-select class="ion-select-style" slot="end" [(ngModel)]="selectedCountry" name="selectCountry" (ionChange)="getCities()" placeholder="Select">
                            <ion-select-option *ngFor="let item of countries">{{item}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <!--<ion-input type="text" name="city" ngModel maxlength="25"><ion-text>City&nbsp; &nbsp;</ion-text></ion-input>-->
                        <ion-text>City</ion-text>
                        <ion-select class="ion-select-style" slot="end" [(ngModel)]="selectedCity" name="selectedCity" placeholder="Select">
                            <ion-select-option *ngFor="let item of cities">{{item}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-input type="tel" name="age" ngModel min="1" max="30"><ion-text>Years In Business&nbsp; &nbsp;</ion-text></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-textarea type="text" name="description" ngModel rows="6"
                                      maxlength="500"><ion-text>Description of Business</ion-text></ion-textarea>
                    </ion-item>
                </ion-item-group>
                <ion-item-group padding>
                    <ion-item>
                        <div text-uppercase padding-bottom style="font-weight: bolder">Sale Information</div>
                    </ion-item>

                    <ion-item>
                        <ion-text>Asking Price &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="askingPrice" ngModel min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-text>Revenue &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="revenue" ngModel min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-text>Cash Flow &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="cashFlow" ngModel min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="photo">
                        <img *ngIf="photo" [src]="photo"/><br>
                    </ion-item>

                    <ion-item class="item-photo-chooser">
                        <ion-text class="label-bold" id="profile_image">Photo&nbsp; &nbsp;</ion-text>
                        <ion-input input-style="box" type="file" accept="image/*" (change)="upload($event)"></ion-input>
                    </ion-item>

                    <!--<ion-button type="file" expand="block" accept="image/*" color="primary" (click)="selectImage($event)">Choose Image</ion-button>-->

                </ion-item-group>
                <ion-button type="submit" no-margin no-padding expand="full" color="primary">Submit</ion-button>
            </form>
        </ion-row>
    </ion-grid>


</ion-content>

