<ion-header>
  <ion-toolbar>
    <ion-title>New Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="createListing(form)" method="post">
    <br>
    <ion-item>
      <ion-label>Listing Name</ion-label>
      <!--<ion-textarea [(ngModel)]="todo.description" name="type"></ion-textarea>-->
      <ion-textarea name="name"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Business Type</ion-label>
      <ion-textarea name="type" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-textarea name="category" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>City</ion-label>
      <ion-textarea name="city" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea name="description" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Price</ion-label>
      <ion-textarea name="price" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Age</ion-label>
      <ion-textarea name="age" ngModel></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Cash Flow</ion-label>
      <ion-textarea name="cashflow" ngModel></ion-textarea>
    </ion-item>

    <ion-footer>
      <ion-toolbar>
        <ion-button type="submit" expand="full" color="primary">Submit</ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
