<ion-header>
  <ion-toolbar>
    <ion-title text-uppercase>New Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="createListing(form)" method="post">
    <ion-item-group padding>
      <div class="group-header">Basic Information</div>
      <br>
      <ion-item no-padding>
        <ion-label>Type:   </ion-label>
        <ion-input readonly name="type"  float-right>  &nbsp;&nbsp;Business For Sale</ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Name of Business</ion-label>
        <ion-textarea name="name" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Industry</ion-label>
        <ion-textarea name="category" ngModel placeholder="F&B, Sales, Information Technology, Service"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Country</ion-label>
        <ion-textarea name="country" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">City</ion-label>
        <ion-textarea name="city" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Years In Business</ion-label>
        <ion-textarea name="age" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Description of Business</ion-label>
        <ion-textarea name="description" ngModel rows="5" maxlength="500"></ion-textarea>
      </ion-item>


    </ion-item-group>
    <br>
    <ion-item-group padding>
      <div class="group-header">Sale Information</div>
      <ion-item no-padding>
        <ion-label position="floating">Asking Price</ion-label>
        <ion-textarea name="askingPrice" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Revenue</ion-label>
        <ion-textarea name="revenue" ngModel></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Cash Flow</ion-label>
        <ion-textarea name="cashFlow" ngModel></ion-textarea>
      </ion-item>

    </ion-item-group>
    <ion-toolbar>
      <ion-button type="submit" expand="full" color="primary">Submit</ion-button>
    </ion-toolbar>



  </form>

  <ion-toolbar>
    <ion-button type="submit" expand="full" color="primary" (click)="selectImage()">Choose Image</ion-button>
  </ion-toolbar>
</ion-content>

