<ion-header>
  <ion-toolbar>
    <ion-title text-uppercase>Edit Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="editListing(form)" method="post">
    <ion-item-group padding>
      <div class="group-header">Basic Information</div>
      <br>
      <ion-item no-padding>
        <ion-label>Type:  </ion-label>
        <ion-input readonly float-right>&nbsp;Business For Sale</ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Name of Business</ion-label>
        <ion-textarea ngModel="name" name="name"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Industry</ion-label>
        <ion-textarea name="category" [ngModel]="category" placeholder="F&B, Sales, Information Technology, Service"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Country</ion-label>
        <ion-textarea name="country" [ngModel]="country"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">City</ion-label>
        <ion-textarea name="city" [ngModel]="city"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Years In Business</ion-label>
        <ion-textarea name="age" [ngModel]="age"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Description of Business</ion-label>
        <ion-textarea name="description" [ngModel]="description" rows="5" maxlength="500"></ion-textarea>
      </ion-item>


    </ion-item-group>
    <br>
    <ion-item-group padding>
      <div class="group-header">Sale Information</div>
      <ion-item no-padding>
        <ion-label position="floating">Asking Price</ion-label>
        <ion-textarea name="price" [ngModel]="price"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Revenue</ion-label>
        <ion-textarea name="revenue" [ngModel]="revenue"></ion-textarea>
      </ion-item>

      <ion-item no-padding>
        <ion-label position="floating">Cash Flow</ion-label>
        <ion-textarea name="cashflow" [ngModel]="cashflow"></ion-textarea>
      </ion-item>

    </ion-item-group>
    <ion-footer>
      <ion-toolbar>
        <ion-button type="submit" expand="full" color="primary">Save Changes</ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>


