<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-uppercase>Edit Listing</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="closeModal()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>

<ion-content color="secondary">
    <ion-grid style="height:90%;"  no-margin no-padding>
        <ion-row align-items-center style="height: 100%; width: 100%">
            <form #form="ngForm" (ngSubmit)="saveListing(form)" method="post">
                <ion-item-group padding>
                    <div text-uppercase padding-top padding-bottom>Basic Information</div>
                    <ion-item class="item-design">
                        <ion-label class="label-bold">Type:</ion-label>
                        <ion-input readonly name="type" float-right> &nbsp;&nbsp;Business For Sale</ion-input>
                    </ion-item>

                    <ion-textarea hidden [ngModel]="id" name="id"></ion-textarea>
                    <ion-item class="item-design-big">
                        <ion-label class="label-bold">Name of Business</ion-label>
                        <ion-textarea readonly [ngModel]="name" name="name" maxlength="50" rows="5"></ion-textarea>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">Industry</ion-label>
                        <ion-textarea name="industry" [ngModel]="industry" type="text" maxlength="25"></ion-textarea>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">Country</ion-label>
                        <ion-textarea name="country" [ngModel]="country" maxlength="25"></ion-textarea>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">City</ion-label>
                        <ion-textarea name="city" [ngModel]="city" maxlength="25"></ion-textarea>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">Years In Business</ion-label>
                        <ion-input type="tel" name="age" [ngModel]="age" min="1" max="30"></ion-input>
                    </ion-item>

                    <ion-item class="item-design-big">
                        <ion-label class="label-bold" position="stacked">Description of Business</ion-label>
                        <ion-textarea name="description" [ngModel]="description" rows="6"
                                      maxlength="500"></ion-textarea>
                    </ion-item>


                </ion-item-group>
                <ion-item-group padding>
                    <div text-uppercase padding-bottom>Sale Information</div>
                    <ion-item class="item-design">
                        <ion-label class="label-bold">Asking Price</ion-label>
                        <ion-input type="tel" name="askingPrice" [ngModel]="askingPrice" min="100"
                                   max="99999999"></ion-input>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">Revenue</ion-label>
                        <ion-input type="tel" name="revenue" [ngModel]="revenue" min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item class="item-design">
                        <ion-label class="label-bold">Cash Flow</ion-label>
                        <ion-input type="tel" name="cashFlow" [ngModel]="cashFlow" min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item class="item-photo-box" *ngIf="photo">
                        <img *ngIf="photo" [src]="photo"/>
                    </ion-item>
                    <ion-item class="item-photo-chooser">
                        <ion-label class="label-bold" id="profile_image">Photo</ion-label>
                        <ion-input type="file" accept="image/*" (change)="upload($event)" name="photo" [ngModel]="photo"></ion-input>
                    </ion-item>

                </ion-item-group>
                <ion-button type="submit" no-margin no-padding expand="full" color="primary">Save Changes</ion-button>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>


