<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-uppercase>Edit Listing</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" icon-only>
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>

<ion-content color="medium">
    <ion-grid style="height:100%;">
        <ion-row style="height: 100%; width: 100%">
            <form #form="ngForm" (ngSubmit)="saveListing(form)" method="post">
                <ion-item-group padding>
                    <div text-uppercase padding-bottom>Basic Information</div>
                    <ion-item>
                        <ion-text>Type:</ion-text>
                        <ion-input readonly name="type" float-right> &nbsp;&nbsp;Business For Sale</ion-input>
                    </ion-item>

                    <ion-textarea hidden [ngModel]="id" name="id"></ion-textarea>
                    <ion-item>
                        <ion-textarea readonly [ngModel]="name" name="name" maxlength="50" rows="5">
                            <ion-text>Name of Business</ion-text>
                        </ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-textarea name="industry" [ngModel]="industry" type="text" maxlength="25">
                            <ion-text>Industry&nbsp; &nbsp;</ion-text>
                        </ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-textarea name="country" [ngModel]="country" maxlength="25">
                            <ion-text>Country&nbsp; &nbsp;</ion-text>
                        </ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-textarea name="city" [ngModel]="city" maxlength="25">
                            <ion-text>City&nbsp; &nbsp;</ion-text>
                        </ion-textarea>
                    </ion-item>

                    <ion-item>
                        <ion-input type="tel" name="age" [ngModel]="age" min="1" max="30">
                            <ion-text>Years In Business&nbsp; &nbsp;</ion-text>
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-textarea name="description" [ngModel]="description" rows="6"
                                      maxlength="500">
                            <ion-text>Description of Business &nbsp; &nbsp;</ion-text>
                        </ion-textarea>
                    </ion-item>


                </ion-item-group>
                <ion-item-group padding>
                    <div text-uppercase padding-bottom>Sale Information</div>
                    <ion-item>
                        <ion-text>Asking Price &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="askingPrice" [ngModel]="askingPrice" min="100"
                                   max="99999999"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-text>Revenue &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="revenue" [ngModel]="revenue" min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-text>Cash Flow &nbsp; &nbsp;</ion-text>
                        <ion-input type="tel" name="cashFlow" [ngModel]="cashFlow" min="100" max="99999999"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="photo">
                        <img *ngIf="photo" [src]="photo" name="photo"/>
                    </ion-item>
                    <ion-item>
                        <ion-text id="profile_image">Photo &nbsp; &nbsp;</ion-text>
                        <ion-input type="file" accept="image/*" (change)="upload($event)" name="photo"
                                   [ngModel]="photo"></ion-input>
                    </ion-item>

                </ion-item-group>
                <ion-button type="submit" no-margin no-padding expand="full" color="primary">Save Changes</ion-button>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>


