<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-uppercase>My Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="goHome()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" padding margin>
  <ion-card *ngFor="let item of (ownListings | async)" class="welcome-card" color="tertiary" (click)="openListingDetail(item)">
      <img [src]="item.photo" alt="" style="height:50px;"/>
      <ion-card-header>
        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.country }} | {{item.city}}</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddListing()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

