<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">My Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card *ngFor="let item of (ownListings | async)" class="welcome-card" color="secondary" (click)="openListingDetail(item)">
      <img [src]="item.photo" alt="" />
      <ion-card-header>
        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.country }} | {{item.city}}</ion-card-subtitle>
      </ion-card-header>
      <!--<ion-card-content>-->
        <!--<p>{{item.description}}</p>-->
      <!--</ion-card-content>-->
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddListing()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

