<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <ion-icon name="md-arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">My Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of resultList">

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to Ionic</ion-card-title>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.askingPrice}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.age}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.cashflow}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.country}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.city}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{item.description}}</p>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddListing()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

