<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text" ngModel name="mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPw"></ion-input>
    </ion-item>

<br>

    <ion-button type="submit" expand="block" color="primary">Register</ion-button>
  </form>
</ion-content>
