ion-content.background{
  --background: url("~src/assets/img/background.png") no-repeat center center / cover;
}

.item-design{
  font-family: 'monospace';
  font-size: 16px;
  color: #666;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 10px;
}


.header-title{
  color: #0E927D;
  --font-weight-bold: bold;
}

ion-icon {
  height: 20px;
  margin-right: 13px;
}


ion-input{
  font-family: 'Rubik';
}

.footer-text{
  font-size: 7pt;
  vertical-align: middle;
  height: 35px;
  text-align: center;
  padding-top: 12px;
  color: #383a3e;
  font-family: 'Rubik';
}
