<ion-content class="background">
  <!--<ion-button icon-only (click)="goLoginPage()" fill="clear">-->
    <!--<ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Back-->
  <!--</ion-button>-->

  <ion-grid style="height:100%;" class="empty-bg">
    <ion-row justify-content-center align-items-center style="height: 100%; width: 100%">

      <form #form="ngForm" method="post">
        <p text-uppercase style="font-weight: bolder;color:black;">Enter your new password</p>
        <br>
        <ion-item class="item-design">
          <ion-label>
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon> &nbsp;
          </ion-label>
          <ion-input ngModel type="password" name="password" placeholder="Password"
                     color="secondary"></ion-input>
        </ion-item>

        <br>
        <ion-item class="item-design">
          <ion-label>
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon> &nbsp;
          </ion-label>
          <ion-input ngModel type="password" name="confirmpassword" placeholder="Confirm Password"
                     color="secondary"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" expand="block" color="primary" (click)="changePassword(form)">Update</ion-button>
        <br>
        <ion-button expand="block" color="danger" (click)="goHome()">Proceed to Dashboard</ion-button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <a class="item" href="#"
     onclick="window.open('https://www.creataniumblockchain.com/', '_blank', 'location=yes'); return false;">
    <ion-grid no-margin no-padding style="width: 100%;" align-items-center>
      <ion-row>
        <ion-col no-margin no-padding>
          <div class="footer-text" float-right text-uppercase align-self-center>Powered by &nbsp;</div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="../../assets/creatanium-2.png" style="height:35px;" float-left/></ion-col>
      </ion-row>
    </ion-grid>
  </a>
</ion-footer>
