.ion-content {
  background: url("~src/assets/img/background.png");
}

.item-design{
  font-family: 'monospace';
  font-size: 16px;
  color: #666;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 10px;
}

.ion-button {
  border-radius: 10px;
  height: 70px;
}

