//ion-content.background{
//  --background: url("~src/assets/img/background.png") no-repeat center center / cover;
//
//}

ion-content.background {
  --color: #fff;
  --background:none;
  background: url("~src/assets/img/background.png") no-repeat center  0;
  background-size: cover;
}

.item-design{
  font-size: 16px;
  color: #666;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 10px;
}

.empty-bg {
  --background: none;
}

p {
  font-size: 13pt;
}

ion-icon {
  height: 20px;
  margin-right: 8px;
}

ion-input{
  font-family: 'Nanumgothic';
}

