ion-content.background{
  --background: url("~src/assets/img/background.png") no-repeat center center / cover;
}

.item-design{
  font-family: 'monospace';
  font-size: 16px;
  color: #666;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 10px;
}

.empty-bg {
  --background: none;
}

p {
  font-size: 13pt;
  color: #fff;
}

//.header-title{
//  color: #0E927D;
//  --font-weight-bold: bold;
//}
