<ion-content class="background">
        <ion-button icon-only (click)="goHome()" fill="clear">
            <ion-icon name="arrow-dropleft"></ion-icon>&nbsp;Back
        </ion-button>
    <ion-grid style="height:100%;" class="empty-bg">
        <ion-row justify-content-center align-items-center style="height: 100%; width: 100%">
               <form #form="ngForm" (ngSubmit)="login(form)" method="post">
                    <ion-item class="item-design">
                        <ion-label>
                            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>&nbsp;
                        </ion-label>
                        <ion-input ngModel type="email" name="email" placeholder="&nbsp;Email" color="secondary"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item class="item-design">
                        <ion-label>
                            <ion-icon ios="ios-lock" md="md-lock"></ion-icon> &nbsp;
                        </ion-label>
                        <ion-input ngModel type="password" name="password" placeholder="Password" color="secondary"></ion-input>
                    </ion-item>

                    <br>
                    <ion-button type="submit" expand="block" color="primary">Login</ion-button>


                <p text-center>New User?</p>
                <ion-button expand="block" color="danger" (click)="registerModal()">Register</ion-button>
               </form>
        </ion-row>
    </ion-grid>
</ion-content>
