<script src="../../assets/js/swiper.min.js"></script>
<ion-header class="toolbar-color" no-border>
  <div class="ion-padding-header">
    <ion-toolbar color="primary"  no-margin>
      <ion-searchbar [(ngModel)]="searchKey" (search)="searchListing()"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="openProfilePage()">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content color="medium">
  <!--<img src='../../assets/banner-one.jpg' alt="" style="width: 100%; height: 20%;"/>-->

  <ion-slides style="height: fit-content" pager [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide><img src='http://whiteconception.com/images/b2b2c/banner-one.png' alt="" style="width: 100%; height: 20%;"/></ion-slide>
    <ion-slide><img src='http://whiteconception.com/images/b2b2c/banner-two.png' alt="" style="width: 100%; height: 20%;"/></ion-slide>
    <ion-slide><img src='http://whiteconception.com/images/b2b2c/banner-three.png' alt="" style="width: 100%; height: 20%;"/></ion-slide>
  </ion-slides>

  <div margin>
  <!--<div class="ion-padding">-->
    <ion-refresher slot="fixed" (ionRefresh)="refreshListings($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>

    <div class="card">
        <ion-text color="secondary" style="font-weight: bolder;">Business Listing</ion-text>
    </div>

    <!--<ion-card *ngFor="let item of (allListing )" color="tertiary" (click)="openListingDetail(item)">-->
      <!--<img [src]="item.photo" alt=""/>-->
      <!--<div class="card card-padding">-->
        <!--<p>-->
          <!--<ion-card-subtitle>{{item.purpose | uppercase}}</ion-card-subtitle>-->
          <!--<ion-card-title class="company_title">{{item.name | uppercase | slice:0:30}}</ion-card-title>-->
        <!--</p>-->
      <!--</div>-->
    <!--</ion-card>-->
    <ion-grid no-margin no-padding>
      <ion-row no-padding>
        <ion-col *ngFor="let item of (allListing )" no-margin no-padding size="6">
          <ion-card class="fixline" (click)="openListingDetail(item)">
            <img [src]="item.photo" alt=""/>
            <ion-card-subtitle>{{item.purpose | uppercase}}</ion-card-subtitle>
            <ion-card-title class="newtext">{{item.name | uppercase | slice:0:30}}</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>



      <!--<ion-infinite-scroll threshold="100px" color="dark"  (ionInfinite)="loadNextPage($event)">-->
        <!--<ion-infinite-scroll-content loadingSpinner="bubbles" color="dark" loadingText="Loading more data...">-->
        <!--</ion-infinite-scroll-content>-->
      <!--</ion-infinite-scroll>-->


  </div>
  <p text-center *ngIf="showNoRecordsFound">No records found</p>
<!--Creatanium blockchain-->

  <div id="header-content"><ion-button type="submit" expand="block" color="tertiary" *ngIf="showLoadMore" (click)="loadNextPage()"> <ion-spinner name="crescent" *ngIf="showSpinner"></ion-spinner> <div id="loadMoreText" *ngIf="showLoadMoreText">Load more</div> </ion-button></div>

</ion-content>

<ion-footer>
  <a class="item" href="#" onclick="window.open('https://www.creataniumblockchain.com/', '_blank', 'location=yes'); return false;">
    <ion-grid no-margin no-padding style="width: 100%;" align-items-center>
      <ion-row>
        <ion-col no-margin no-padding>
          <div class="footer-text" float-right text-uppercase align-self-center>Powered by &nbsp;</div>
        </ion-col>
        <ion-col no-margin no-padding>
          <img src="../../assets/creatanium-2.png" style="height:35px;" float-left/> </ion-col>
      </ion-row>
    </ion-grid>
  </a>
</ion-footer>


