<ion-header class="toolbar-color">
  <div class="ion-padding-header">
    <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="searchKey" (search)="searchListing()"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="openProfilePage()">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content color="dark">
  <ion-refresher slot="fixed" (ionRefresh)="refreshListings($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">
    <div class="card">
        <ion-text color="light">Business Listing</ion-text>
    </div>

    <ion-card *ngFor="let item of (allListing )" class="welcome-card" color="secondary" (click)="openListingDetail(item)">
      <img [src]="item.photo" alt="" />
      <div class="card card-padding">
        <p>
          <ion-card-subtitle>{{item.purpose | uppercase}}</ion-card-subtitle>
          <ion-card-title class="company_title">{{item.name | uppercase}}</ion-card-title>
        </p>
      </div>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
</ion-content>
